[GLOBAL]
# Display Bridge status
BRIDGES_INC = True
# Display Peers status
HOMEBREW_INC = True
# Lastheard table on main page                                                  
LASTHEARD_ROWS = 20
# Display empty masters                          
EMPTY_MASTERS = True
# TG Count on TOP TG's page
TGCOUNT_ROWS = 20

[MASTER]
# Master Server Reporting port
IP = 127.0.0.1
PORT = 4321

[MQTT]
# Publish lastheard and monitor data to MQTT
ENABLED = False
BROKER_HOST = mqtt-broker
BROKER_PORT = 1883
TOPIC = dmr

[OPB FILTER]
# if you don't want to show in lastherad received traffic from OBP link put NETWORK ID
# for example: 260210, 260211, 260212
OPB_FILTER =

[FILES]
# Files and stuff for loading alias files for mapping numbers to names
FILES_PATH = /config/json/
# This files will auto-download
PEER_FILE = rptrs.json
SUBSCRIBER_FILE = users.json
TGID_FILE = au_talkgroup_ids.json
# User provided files, if you don't use it, you can comment it.
LOCAL_SUB_FILE = users.json
LOCAL_PEER_FILE = local_peer_ids.json
LOCAL_TGID_FILE = local_talkgroup_ids.json
# Number of days before we reload DMR-MARC database files.
#RELOAD_TIME = 15
#PEER_URL = http://yourwebsite/rptrs.json
#SUBSCRIBER_URL = http://yourwebsite/local_subscriber_ids.csv
#TGID_URL = http://yourwebsite/UKtalkgroup_ids.json

[LOGGER]
# Settings for log files
LOG_PATH = ./log/
LOG_FILE = fdmr-mon.log
LOG_LEVEL = DEBUG

[WEBSOCKET SERVER]
WEBSOCKET_PORT = 9000
# Frequency to push updates to web clients
FREQUENCY = 10
# Clients are timed out after this many seconds, 0 to disable
CLIENT_TIMEOUT = 0

[DASHBOARD]
DASHTITLE = Digital Voice DMR
SYSOP=VK2WAY
BACKGROUND = False
LANGUAGE = en
NAVTITLE = Netops
NAV_LINK_NAME = Links
LINKS = DVDMR|http://dvdmr.org,Source Code|https://github.com/Digital-Voice-Radio/dmr-dashboard

