<!-- Credits: VK2WAY 2025 -->
<!-- Credits: SP2ONG 2019-2022 -->
<!-- Credits: OA4DOA 2022 -->
<!-- THIS COPYRIGHT NOTICE MUST BE DISPLAYED AS A CONDITION OF THE LICENCE GRANT FOR THIS SOFTWARE. ALL DERIVATEIVES WORKS MUST CARRY THIS NOTICE -->
<div class="text-center d-none d-sm-inline">
	<div>SYSOP: {{ conf.SYSOP }}.  <a href="https://github.com/Digital-Voice-Radio/dmr-dashboard">DMR Dashboard</a> (C) Copyright 2025. <a  target="_blank" href="https://vk2way.github.io/">VK2WAY</a>.  
		Based on code from <a title="CS8ABG Dash v24.04" href=https://github.com/CS8ABG/FDMR-Monitor.git>CS8ABG</a>, <a href="https://github.com/yuvelq/FDMR-Monitor.git">OA4DOA</a>,  The Regents of the K0USY Group.
	</div>
</div>
